# Database
DATABASE_URL="postgresql://postgres.numrfsrmvowqpvndcjwi:task_debate_arena@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="5bc8fc8295bec7ebc5dc3d3ca40d1e69847938ca8a07ab47e9d7edadf1120da2"

# OAuth Providers
GOOGLE_CLIENT_ID=1091613651553-jf2qddlq6mrl46hn3n40giiv8kodtjsv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

GITHUB_ID=Ov23liYivS9mfUHNJnRU
GITHUB_SECRET=0bb26c60114a3be86f1c97f5d2c25699809ba248



# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.numrfsrmvowqpvndcjwi:task_debate_arena@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.numrfsrmvowqpvndcjwi:task_debate_arena@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
